// COLORS
$color-primary: #009688;
$color-primary-light: #26c6da;
$color-primary-dark: #087f23;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-4-light:#009688;
$color-4-dark: #004d40;

$color-5-light:#90a4ae ;
$color-5-dark: #62757f;

$color-6-light:#ff8a50;
$color-6-dark: #ff5722;


$color-7-light:  #f4511e ;
$color-7-dark: #870000;

$color-8-light: #f9683a;
$color-8-dark: #40241a;

$color-9-light: #9be7ff;
$color-9-dark: #1976d2;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 95rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;